---
layout: default
---

<div class="c-delimiter"></div>

<section class="c-section" id="massarbeit">
  <div class="o-layout">
    <div class="o-layout__item u-3/5@tablet u-push-2/5@tablet">
      <div class="o-island">
        <h1>{{site.data.content.massarbeit.title}}</h1>

        {{site.data.content.massarbeit.body}}

        <div class="o-layout o-layout--small">
          {% for image in site.data.content.massarbeit.images %}
            <div class="o-layout__item u-6/12 u-1/5@desktop u-margin-bottom-small">
              <a href="{{ site.baseurl }}/images/massarbeit/{{ image }}.jpg" data-lity data-lity-target="{{ site.baseurl }}/images/massarbeit/{{ image }}.jpg" class="o-thumb">
                <img src="{{ site.baseurl }}/images/massarbeit/{{ image }}_thumb.jpg">
              </a>
            </div>
          {% endfor %}
        </div>

      </div>
    </div>

    <div class="o-layout__item u-2/5@tablet u-pull-3/5@tablet">
      <div class="o-island u-align-center">
        <img src="images/bueste.svg" width="45%" />
      </div>
    </div>
  </div>
</section>

<div class="c-delimiter"></div>

<section class="c-section" id="aenderungen">
  <div class="o-layout">
    <div class="o-layout__item u-3/5@tablet">
      <div class="o-island">
        <h1>{{ site.data.content.aenderungen.title }}</h1>

        {{ site.data.content.aenderungen.body }}
      </div>
    </div>

    <div class="o-layout__item u-2/5@tablet">
      <div class="o-island">
        <img src="images/naehmaschiene.svg" width="100%" />
      </div>
    </div>
  </div>
</section>

<div class="c-delimiter"></div>

<section class="c-section" id="kindersachen">
  <div class="o-layout">
    <div class="o-layout__item u-3/5@tablet u-push-2/5@tablet">
      <div class="o-island">
        <h1>{{ site.data.content.kinder.title }}</h1>

        {{ site.data.content.kinder.body }}

        <div class="o-layout o-layout--small">
          {% for image in site.data.content.kinder.images %}
            <div class="o-layout__item u-6/12 u-1/5@desktop u-margin-bottom-small">
              <a href="{{ site.baseurl }}/images/kinder/{{ image }}.jpg" data-lity data-lity-target="{{ site.baseurl }}/images/kinder/{{ image }}.jpg" class="o-thumb">
                <img src="{{ site.baseurl }}/images/kinder/{{ image }}_thumb.jpg">
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="o-layout__item u-2/5@tablet u-pull-3/5@tablet">
      <div class="o-island">
        <img src="images/kinder.svg" width="100%" />
      </div>
    </div>
  </div>
</section>

<div class="c-delimiter"></div>

<section class="c-section" id="uebermich">
  <div class="o-layout o-layout--center">
    <div class="o-layout__item u-2/5@tablet">
      <div class="o-island">
        <h1>{{ site.data.content.uebermich.title }}</h1>

        <ul class="o-list-bare">
          {% for item in site.data.content.uebermich.list %}
            <li class="o-list-bare__item">{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="o-layout__item u-1/4@tablet">
      <div class="o-island">
        <img src="images/scherenschnitt.svg" width="100%" />
      </div>
    </div>
  </div>
</section>
