.c-delimiter {
  margin: $spacing-unit--large 0;
  height: $spacing-unit--large;
  background-image: url('../images/pattern2.svg');
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: contain;
}
