.c-navigation {
  margin-left: 0;
  list-style: none;

  @include mq($from: tablet) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
  }

  &__item {
    display: block;

    text-align: center;

    @include mq($from: tablet) {
      display: inline-block;
    }
  }

  &__link {
    display: block;
    color: $color-beige;
    background-color: $color-brown;
    padding: $spacing-unit--small $spacing-unit--small;

    &:hover {
      background-color: darken($color-brown, 10%);
    }

    @include mq($from: tablet) {
      display: inline-block;
      color: $color-gray--dark;
      background-color: transparent;

      &:hover {
        color: $color-beige;
        background-color: $color-brown;
      }
    }
  }
}

.c-up-navigation {
  display: none;
  position: fixed;
  background-color: $color-brown;
  bottom: 0;
  right:  0;
  color: white;
  padding: $spacing-unit--small;
  line-height: 1;
  z-index: 10;

  @include mq(tablet) {
    bottom: $spacing-unit;
    right:  $spacing-unit;
  }
}
