.u-text {

  &--normal {
    font-weight: 400 !important;
  }

  &--light {
    font-weight: 300 !important;
  }

  &--lighter {
    font-weight: 100 !important;
  }

  &--center {
    text-align: center !important;
  }

  &--right {
    text-align: right !important;
  }
}

.u-text-large\@tablet {
  @include mq(tablet) {
    @include font-size(58px);
  }
}

.u-text-huge {
  @include font-size(74px);
}

.u-text-huge\@desktop {
  @include mq(desktop) {
    @include font-size(74px);
  }
}
