.u-align {
  &-center {
    text-align: center !important;
  }

  &-left {
    text-align: left !important;
  }

  &-right {
    text-align: right !important;
  }
}


.u-valign {
  &-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
